node_modules/
npm-debug.log
.DS_Store
.env*
.tmp/
mongo/
bower_components
dist/images
dist/fonts
dist/assets
aws.json
*.py[co]
.idea/**
*.project
*.pydevproject
.idea/**
__pycache__/**
dump/
.vagrant
venv
*.pyc
tim/