@import "../bower_components/bootstrap/less/bootstrap.less";
@import "core.less";
@import "loading.less";
@import "jgsform.less";
//@import "datepicker.less";
//@import "dropzone.less";
@import "popovers.less";

@icon-font-path:          "../fonts/";
@icon-font-name:          "glyphicons-halflings-regular";
@icon-font-svg-id:        "glyphicons_halflingsregular";
@import "bootstrap-glyphicons.less";


footer {
	margin-top: 40px;
}

.navbar-text {
	color: @cbBlue;
}



/* small devices (tablets, 420px and up) */
@media (min-width: @screen-xs-min) {

	
	

}


@media (min-width: @screen-md-min) {

	
}

@media (min-width: @screen-lg-min) {


}
