
<div class="row search" style="margin-bottom: 20px;">
	<div class="col-md-3">
		<h2>Chargebacks</h2>
	</div>
	
	<div class="col-md-4 dateRange" style="text-align: center; margin-top: 20px;">
		<a href="#" datepicker-popup="MM/dd/yyyy" ng-model="date.start.val" is-open="date.start.opened" ng-click="date.start.opened=true" isdate >{{date.start.val | date:'MM/dd/yyyy'}}</a> thru
		<a href="#" datepicker-popup="MM/dd/yyyy" ng-model="date.end.val" is-open="date.end.opened" ng-click="date.end.opened=true" isdate >{{date.end.val | date:'MM/dd/yyyy'}}</a>
	</div>

	<div class="col-md-3" style="padding-top: 20px;">
		<input ng-model="q" type="text" class="form-control pull-right" name="query" autocomplete="off" placeholder="Search" ng-keyup="cbs.search(q)">
	</div>

	<div class="col-md-2" style="padding-top: 16px; font-size: 32px; text-align: right;">
		<a href="#" ng-click="download()" tooltip="Download Chargebacks"><span class="glyphicon glyphicon-download"></span></a>
		<a href="/chargeback" tooltip="Add Chargebacks"><span class="glyphicon glyphicon-plus-sign"></span></a>
	</div>
</div>

<div class="row" style="margin-bottom: 20px;" ng-if="filters">
	<div class="col-sm-12" style="text-align: center;">Additional Filters: {{filters}} (<a href="/chargebacks">Clear</a>)</div>
</div>


<div class="animated-grid chargebacks" infinite-scroll="cbs.nextPage(q)" infinite-scroll-disabled="cbs.busy">
	<div class="row head">
		<div class="col-sm-2">Date</div>
		<div class="col-sm-2">Amount</div>
		<div class="col-sm-3">Customer</div>
		<div class="col-sm-2">Case Number</div>
		<div class="col-sm-3">Status</div>
	</div>

	<div class="row" ng-repeat="cb in cbs.data">
		<div class="col-sm-2" ng-click="goTo(cb)">{{cb.chargebackDate | date:'MM/dd/yyyy'}}</div>
		<div class="col-sm-2" ng-click="goTo(cb)">{{cb.portal_data.ChargebackAmt | currency}}</div>
		<div class="col-sm-3" ng-click="goTo(cb)">{{cb.gateway_data.FirstName}} {{cb.gateway_data.LastName}}&nbsp;</div>
		<div class="col-sm-2" ng-click="goTo(cb)">{{cb.portal_data.CaseNumber}}</div>
		<div class="col-sm-3 status-colors" ng-click="goTo(cb)">
			<span ng-if="cb.status == 'New'" class="{{cb.status}}"><b>New</b>: Work Chargeback</span>
			<span ng-if="cb.status != 'New'" class="{{cb.status}}">
				<span ng-if="cb.status == 'Errored'" class="text-danger">{{cb.status}} &nbsp;</span>
				<span ng-if="cb.status != 'Errored'" >{{cb.status}} &nbsp;</span>
				<span ng-if="cb.status == 'Sent'" class="glyphicon glyphicon-send"></span>
				<span ng-if="cb.status == 'In-Progress'" class="glyphicon glyphicon-circle-arrow-right"></span>
				<span ng-if="cb.status == 'Won'" class="glyphicon glyphicon-thumbs-up"></span>
				<span ng-if="cb.status == 'Lost'" class="glyphicon glyphicon-thumbs-down"></span>
				<span ng-if="cb.status == 'Errored'" class="glyphicon glyphicon-exclamation-sign text-danger"></span>

			</span>
		</div>

	</div>
	
	<div class="row" ng-if="cbs.loaded && cbs.data.length == 0">
		<div class="col-sm-12"><h3>No chargebacks found {{date.start.val | date:'MM/dd/yyyy'}} thru {{date.end.val | date:'MM/dd/yyyy'}}</h3></div>
	</div>	
	<div class="row" ng-if="!cbs.loaded">
		<div class="col-sm-12"><h3 style="color: #999;">Loading Chargebacks...</h3></div>
	</div>	
</div>
