<div class="row">
	
	<div class="col-md-4 col-md-push-8 form-sidebar">

		<div class="side-cbinfo" style="margin-top: 90px;">
			<div class="side-main-head">KEEP IN MIND</div>
			<div>
				<ul>
					<li>Processors may ask for additional information.</li>
					<li>It usually takes about one week for processors to respond.</li>
					<li>Not all processors will notify chargeback.com, so check with your processor directly in about one week.</li>
				</ul>
			</div>	
		</div>

	</div>
	<div class="col-md-8 col-md-pull-4">
		
		<div class="jgs-form">
		<h2 style="font-weight: bold;">Dispute Sent For {{data.portal_data.ChargebackAmt | currency}}</h2>
			<div style="font-size: 16px; margin-top: 40px;">
				We'll review the information you provided, create the dispute document and relay it to your processor. 
			</div>
			<div style="margin-top: 50px;">
				<a href="/chargebacks" class="btn btn-info">More Chargebacks</a>
			</div>
		</div>
	</div>

</div>

	


