
<div class="jgs-form">

	<h2 style="font-weight: bold;">Dispute Sent For {{data.portal_data.ChargebackAmt | currency}}</h2>

	<div style="font-size: 16px; margin-top: 40px;">
		We'll review the information you provided, create the dispute document and relay it to your processor. With the information you provided, you have an 80% of winning this chargeback.
	</div>

	<div style="margin-top: 50px;">
		<a href="/chargebacks" class="btn btn-info">More Chargebacks</a>
		&nbsp;
		<button type="button" ng-click="download('/images/example.0511cc.pdf')" class="btn btn-warning">Download Chargeback PDF</button>
	</div>

</div>
