
<div class="row">
	
	<div class="col-sm-4 col-sm-push-8 form-sidebar" style="padding-top: 30px;">
		<div class="side-main-head">COMMENTS HELP</div>
		
		<div>
			Provide any additional details or comments here that would help solve this chargeback. Anything that was not addressed in the previous steps.
		</div>
	</div>
	<div class="col-sm-8 col-sm-pull-4 jgs-form"  style="padding-top: 30px;" >

		<div class="row">
			<div class="col-md-12">
				<div class="form-group" show-errors>
					<label>Additional Comments</label>
					<textarea class="form-control" name="additional_comments" type="text" class="form-control" ng-model="data.additional_comments"></textarea>
				</div>
			</div>
		</div>
		
		<div class="form-group btns">
			<a ui-sref="chargeback.review" class="btn btn-success pull-right">Continue to Final Review</a>
		</div>

	</div>

</div>