
<div class="row">
	
	<div class="col-sm-4 col-sm-push-8 form-sidebar" style="padding-top: 30px;">
		<div class="side-main-head">CRM INFORMATION HELP</div>
		<div>Details on where to find and enter CRM stuff. Maybe a video?</div>
	</div>
	<div class="col-sm-8 col-sm-pull-4 jgs-form">

		<h5>CRM Order Information</h5>
		<div class="row bt">
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Order Date</label>
					<input class="form-control" name="OrderDate" type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="data.crm_data.OrderDate" is-open="opened1" ng-click="opened1=true" isdate >
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Is Fraud?</label>
					<input name="IsFraud" type="text" class="form-control" pop-show="{{errors.IsFraud}}" pop="{{errors.IsFraud}}" pop-placement="right" ng-model="data.crm_data.IsFraud" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Is Recurring?</label>
					<input name="IsRecurring" type="text" class="form-control" pop-show="{{errors.IsRecurring}}" pop="{{errors.IsRecurring}}" pop-placement="right" ng-model="data.crm_data.IsRecurring" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Price Point</label>
					<input name="PricePoint" type="text" class="form-control" pop-show="{{errors.PricePoint}}" pop="{{errors.PricePoint}}" pop-placement="right" ng-model="data.crm_data.PricePoint" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>CRM Product Name</label>
					<input name="ProductCrmName" type="text" class="form-control" pop-show="{{errors.ProductCrmName}}" pop="{{errors.ProductCrmName}}" pop-placement="right" ng-model="data.crm_data.ProductCrmName" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Product Name</label>
					<input name="ProductName" type="text" class="form-control" pop-show="{{errors.ProductName}}" pop="{{errors.ProductName}}" pop-placement="right" ng-model="data.crm_data.ProductName" placeholder="">
				</div>
			</div>
		</div>


		<h5 style="margin-top: 40px;">Delivery Information</h5>
		<div class="row bt">
			<div class="col-md-12">
				<div class="form-group" show-errors>
					<label>Delivery Address One</label>
					<input name="DeliveryAddr1" type="text" class="form-control" pop-show="{{errors.DeliveryAddr1}}" pop="{{errors.DeliveryAddr1}}" pop-placement="right" ng-model="data.crm_data.DeliveryAddr1" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group" show-errors>
					<label>Delivery Address Two</label>
					<input name="DeliveryAddr2" type="text" class="form-control" pop-show="{{errors.DeliveryAddr2}}" pop="{{errors.DeliveryAddr2}}" pop-placement="right" ng-model="data.crm_data.DeliveryAddr2" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Delivery City</label>
					<input name="DeliveryCity" type="text" class="form-control" pop-show="{{errors.DeliveryCity}}" pop="{{errors.DeliveryCity}}" pop-placement="right" ng-model="data.crm_data.DeliveryCity" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Delivery State</label>
					<input name="DeliveryState" type="text" class="form-control" pop-show="{{errors.DeliveryState}}" pop="{{errors.DeliveryState}}" pop-placement="right" ng-model="data.crm_data.DeliveryState" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Delivery Postal</label>
					<input name="DeliveryPostal" type="text" class="form-control" pop-show="{{errors.DeliveryPostal}}" pop="{{errors.DeliveryPostal}}" pop-placement="right" ng-model="data.crm_data.DeliveryPostal" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group" show-errors>
					<label>Delivery Country</label>
					<input name="DeliveryCountry" type="text" class="form-control" pop-show="{{errors.DeliveryCountry}}" pop="{{errors.DeliveryCountry}}" pop-placement="right" ng-model="data.crm_data.DeliveryCountry" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Email</label>
					<input name="Email" type="text" class="form-control" pop-show="{{errors.Email}}" pop="{{errors.Email}}" pop-placement="right" ng-model="data.crm_data.Email" placeholder="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>IP Address</label>
					<input name="IpAddress" type="text" class="form-control" pop-show="{{errors.IpAddress}}" pop="{{errors.IpAddress}}" pop-placement="right" ng-model="data.crm_data.IpAddress" placeholder="">
				</div>
			</div>
		</div>

		<h5 style="margin-top: 40px;">Order Status Information</h5>
		<div class="row bt">
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Date Cancelled in System</label>
					<input class="form-control" name="CancelDateSystem" type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="data.crm_data.CancelDateSystem" is-open="opened2" ng-click="opened2=true" isdate>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Full Refund Date</label>
					<input class="form-control" name="RefundDateFull" type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="data.crm_data.RefundDateFull" is-open="opened3" ng-click="opened3=true" >
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Partial Refund Date</label>
					<input class="form-control" name="RefundDatePartial" type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="data.crm_data.RefundDatePartial" is-open="opened4" ng-click="opened4=true" >
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Refund Amount</label>
					<input name="RefundAmount" type="text" class="form-control" pop-show="{{errors.RefundAmount}}" pop="{{errors.RefundAmount}}" pop-placement="right" ng-model="data.crm_data.RefundAmount" placeholder="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>RMA</label>
					<input name="Rma" type="text" class="form-control" pop-show="{{errors.Rma}}" pop="{{errors.Rma}}" pop-placement="right" ng-model="data.crm_data.Rma" placeholder="">
				</div>
			</div>
		</div>

		<div class="form-group btns">
			<a ui-sref="chargeback.shipping" class="btn btn-success pull-right">Continue to Shipping</a>
		</div>

	</div>

</div>