
<div class="review">
	
	<div class="col-sm-4 col-sm-push-8 form-sidebar">

		<div class="side-cbinfo">
			<div class="side-cbinfo-head">IMPORTED DATA</div>
			
			<div class="side-cbinfo-desc">This is the data that we have received regarding this chargeback case. You can use this information to look up any missing data and fill it in.</div>

			<div class="row" ng-if="data.portal_data.MidNumber">
				<div class="col-xs-4" style="text-align: right;">Type:</div>
				<div class="col-xs-8">
					<span ng-if="data.type == 'cp'">Card Present</span>
					<span ng-if="data.type == 'cnp'">Card Not Present</span>		
				</div>
			</div>

			<div class="row" ng-if="data.portal_data.MidNumber">
				<div class="col-xs-4" style="text-align: right;">MID:</div>
				<div class="col-xs-8">{{data.portal_data.MidNumber}}</div>
			</div>

			<div class="row" ng-if="data.gateway_data.FullName">
				<div class="col-xs-4" style="text-align: right;">Customer:</div>
				<div class="col-xs-8">{{data.gateway_data.FullName}}</div>
			</div>

			<div class="row" ng-if="data.portal_data.MidNumber">
				<div class="col-xs-4" style="text-align: right;">Amount:</div>
				<div class="col-xs-8">{{data.portal_data.ChargebackAmt | currency}}</div>
			</div>

			<div class="row" ng-if="data.portal_data.CcPrefix || data.portal_data.CcSuffix">
				<div class="col-xs-4" style="text-align: right;">Credit Card:</div>
				<div class="col-xs-8">
					<span ng-if="data.portal_data.CcPrefix">{{data.portal_data.CcPrefix}}</span><span ng-if="!data.portal_data.CcPrefix">XXXX</span>-XXXX-XXXX-<span ng-if="data.portal_data.CcSuffix">{{data.portal_data.CcSuffix}}</span><span ng-if="!data.portal_data.CcSuffix">XXXX</span>
					<span ng-if="data.gateway_data.CcType">({{data.gateway_data.CcType}})</span>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4" style="text-align: right;">Shipped:</div>
				<div class="col-xs-8">{{data.shipped}}</div>
			</div>
			<div class="row">
				<div class="col-xs-4" style="text-align: right;">Refunded:</div>
				<div class="col-xs-8">{{data.refunded}}</div>
			</div>
			<div class="row">
				<div class="col-xs-4" style="text-align: right;">Recurring:</div>
				<div class="col-xs-8">{{data.recurring}}</div>
			</div>


			<div class="row" ng-if="data.portal_data.ReasonCode || data.portal_data.ReasonText">
				<div class="col-xs-4" style="text-align: right;">Reason:</div>
				<div class="col-xs-8">
					{{data.portal_data.ReasonText}} {{data.portal_data.ReasonCode}}
				</div>
			</div>

		</div>

	</div>
	<div class="col-sm-8 col-sm-pull-4">

		<h3>Review</h3>

		
		<div class="row" style="padding-top: 40px;">
			<div class="col-sm-6 review-uploaded">
				<h4>Copies of Terms of Service</h4>
				<div ng-repeat="saved_item in data.uploads.terms">
					<img ng-src="{{saved_item.url}}">
				</div>
				<div ng-if="data.uploads.terms.length == 0">
					<div class="missing-upload">
						<span class="glyphicon glyphicon-exclamation-sign"></span><br/>
						Uploaded Terms Missing
					</div>	
				</div>
			</div>
			<div class="col-sm-6 review-uploaded">
				<h4>Screenshots of Product</h4>
				<div ng-repeat="saved_item in data.uploads.products">
					<img ng-src="{{saved_item.url}}">
				</div>
				<div ng-if="data.uploads.products.length == 0">
					<div class="missing-upload">
						<span class="glyphicon glyphicon-exclamation-sign"></span><br/>
						Uploaded Screen Shots Missing
					</div>
				</div>	
			</div>
		</div>

		<div class="row" style="margin-bottom: 40px;">
			<div class="col-sm-6 review-uploaded">
				<h4>Screenshot of Shipping</h4>
				<div ng-repeat="saved_item in data.uploads.shippings">
					<img ng-src="{{saved_item.url}}">
				</div>
				<div ng-if="data.uploads.shippings.length == 0">
					<div class="missing-upload">
						<span class="glyphicon glyphicon-exclamation-sign"></span><br/>
						Shipping Screenshots Missing
					</div>	
				</div>
			</div>
			<div class="col-sm-6 review-uploaded">
				<h4>Additional Documents</h4>
				<div ng-repeat="saved_item in data.uploads.adds">
					<img ng-src="{{saved_item.url}}">
				</div>
				<div ng-if="data.uploads.adds.length == 0">
					<div class="missing-upload">
						<span class="glyphicon glyphicon-exclamation-sign"></span><br/>
						No Additional Documents
					</div>
				</div>	
			</div>
		</div>

		<div class="additional_comments">
			<h4>Additional Comments</h4>
			<div class="row">
				<div class="col-md-12 details" style="white-space: pre-line;">{{data.additional_comments}}</div>
			</div>
		</div>

		<div class="form-group btns" style="text-align: center; margin-top: 40px;">
			<a ui-sref="chargeback.confirmation" class="btn btn-success" style="margin-right: 20px;">Submit</a>
			<button type="button" ng-click="download('/images/example.0511cc.pdf')" class="btn btn-info">Download</button>
		</div>
		
	</div>
	

</div>
