
<div class="row">
	
	<div class="col-sm-4 col-sm-push-8 form-sidebar" style="padding-top: 30px;">
		<div class="side-main-head">UPLOAD HELP</div>
		<div>What to upload? Examples?</div>
	</div>
	<div class="col-sm-8 col-sm-pull-4"  style="padding-top: 30px;" >

		<div class="row">
			<div class="col-md-6">

				<div ng-show="uploader.isHTML5">
					<div nv-file-drop="" uploader="uploader">
						<div nv-file-over="" uploader="uploader" over-class="ddhover" class="ddzone">
							Upload Product Screenshot<br/>
							<span class="glyphicon glyphicon-picture"></span>
						</div>
					</div>
				</div>
				<div ng-hide="uploader.isHTML5" class="ddzone">
					Upload Product Screenshot<br/><input type="file" nv-file-select="" uploader="uploader"  />
				</div>

			</div>

			<div class="col-md-6">

				<div ng-show="uploader.isHTML5">
					<div nv-file-drop="" uploader="uploader">
						<div nv-file-over="" uploader="uploader" over-class="ddhover" class="ddzone">
							Upload Terms of Service<br/>
							<span class="glyphicon glyphicon-list-alt"></span>
						</div>
					</div>
				</div>
				<div ng-hide="uploader.isHTML5" class="ddzone">
					Upload Terms of Service<br/><input type="file" nv-file-select="" uploader="uploader"  />
				</div>

			</div>
		</div>

		<div class="row">

			<div class="col-md-6 uploaded">

				<div ng-repeat="item in uploader.queue">
					<div class="img" ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, width: 200 }"></div>
					<strong>{{ item.file.name }}</strong>
					<div ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</div>
					<div ng-show="uploader.isHTML5">
						<div class="progress" style="margin-bottom: 0;">
							<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
						</div>
					</div>
				</div>

			</div>

			<div class="col-md-6 uploaded">

				<div ng-repeat="item in uploader.queue">
					<div class="img" ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, width: 200 }"></div>
					<strong>{{ item.file.name }}</strong>
					<div ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</div>
					<div ng-show="uploader.isHTML5">
						<div class="progress" style="margin-bottom: 0;">
							<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<div class="form-group btns" style="margin-top: 40px;">
			<a ui-sref="chargeback.portal" class="btn btn-success pull-right">Continue to Portal Data</a>
		</div>

	</div>

</div>