
<div class="row">
	
	<div class="col-sm-4 col-sm-push-8 form-sidebar">
		<div class="side-main-head">CHARGEBACK INFORMATION</div>
		<div>Details on the chargeback and finding this data here. Maybe examples?</div>
	</div>
	<div class="col-sm-8 col-sm-pull-4 jgs-form">

		<div class="row bt">
			<div class="col-md-12">
				<div class="form-group" show-errors>
					<label>Portal</label>
					<input name="Portal" type="text" class="form-control" pop-show="{{errors.Portal}}" pop="{{errors.Portal}}" pop-placement="right" ng-model="data.portal_data.Portal" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Case Number</label>
					<input name="CaseNumber" type="text" class="form-control" pop-show="{{errors.CaseNumber}}" pop="{{errors.CaseNumber}}" pop-placement="right" ng-model="data.portal_data.CaseNumber" placeholder="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Reference Number</label>
					<input name="Reference Number" type="text" class="form-control" pop-show="{{errors.RefNumber}}" pop="{{errors.RefNumber}}" pop-placement="right" ng-model="data.portal_data.RefNumber" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>CC Prefix</label>
					<input name="CcPrefix" type="text" class="form-control" pop-show="{{errors.CcPrefix}}" pop="{{errors.CcPrefix}}" pop-placement="right" ng-model="data.portal_data.CcPrefix" placeholder="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>CC Suffix</label>
					<input name="CcSuffix" type="text" class="form-control" pop-show="{{errors.CcSuffix}}" pop="{{errors.CcSuffix}}" pop-placement="right" ng-model="data.portal_data.CcSuffix" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Chargeback Amount</label>
					<input name="ChargebackAmt" type="text" class="form-control" pop-show="{{errors.ChargebackAmt}}" pop="{{errors.ChargebackAmt}}" pop-placement="right" ng-model="data.portal_data.ChargebackAmt" placeholder="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Mid Number</label>
					<input name="MidNumber" type="text" class="form-control" pop-show="{{errors.MidNumber}}" pop="{{errors.MidNumber}}" pop-placement="right" ng-model="data.portal_data.MidNumber" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Reason Code</label>
					<input name="ReasonCode" type="text" class="form-control" pop-show="{{errors.ReasonCode}}" pop="{{errors.ReasonCode}}" pop-placement="right" ng-model="data.portal_data.ReasonCode" placeholder="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Reason Text</label>
					<input name="ReasonText" type="text" class="form-control" pop-show="{{errors.ReasonText}}" pop="{{errors.ReasonText}}" pop-placement="right" ng-model="data.portal_data.ReasonText" placeholder="">
				</div>
			</div>
		</div>


		<h5 style="margin-top: 40px;">Order Information</h5>
		<div class="row bt">
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Transaction Date</label>
					<input class="form-control" name="TransDate" type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="data.gateway_data.TransDate" is-open="opened" ng-click="opened=true" isdate >
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Transaction Type</label>
					<input name="TransType" type="text" class="form-control" pop-show="{{errors.TransType}}" pop="{{errors.TransType}}" pop-placement="right" ng-model="data.gateway_data.TransType" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Transaction History</label>
					<input name="TransHistory" type="text" class="form-control" pop-show="{{errors.TransHistory}}" pop="{{errors.TransHistory}}" pop-placement="right" ng-model="data.gateway_data.TransHistory" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Order Id</label>
					<input name="OrderId" type="text" class="form-control" pop-show="{{errors.OrderId}}" pop="{{errors.OrderId}}" pop-placement="right" ng-model="data.gateway_data.OrderId" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Transaction Id</label>
					<input name="TransId" type="text" class="form-control" pop-show="{{errors.TransId}}" pop="{{errors.TransId}}" pop-placement="right" ng-model="data.gateway_data.TransId" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Transaction Status</label>
					<input name="TransStatus" type="text" class="form-control" pop-show="{{errors.TransStatus}}" pop="{{errors.TransStatus}}" pop-placement="right" ng-model="data.gateway_data.TransStatus" placeholder="">
				</div>
			</div>
		</div>
		<div class="row" ng-if="cardpresent">
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Cc Type</label>
					<input name="CcType" type="text" class="form-control" pop-show="{{errors.CcType}}" pop="{{errors.CcType}}" pop-placement="right" ng-model="data.gateway_data.CcType" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Cc Expire</label>
					<input name="CcExpire" type="text" class="form-control" pop-show="{{errors.CcExpire}}" pop="{{errors.CcExpire}}" pop-placement="right" ng-model="data.gateway_data.CcExpire" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Currency</label>
					<input name="Currency" type="text" class="form-control" pop-show="{{errors.Currency}}" pop="{{errors.Currency}}" pop-placement="right" ng-model="data.gateway_data.Currency" placeholder="">
				</div>
			</div>
		</div>

		<div class="form-group btns">
			<a ui-sref="chargeback.customer" class="btn btn-success pull-right">Continue to Customer Information</a>
		</div>

	</div>

</div>