<div class="row">
	
	<div class="col-sm-4 col-sm-push-8 form-sidebar" style="padding-top: 30px;">
		<div class="side-main-head">CUSTOMER INFORMATION</div>
		<div>Help details here.</div>
	</div>
	<div class="col-sm-8 col-sm-pull-4 jgs-form">

		<div class="row bt">
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>First Name</label>
					<input name="FirstName" type="text" class="form-control" pop-show="{{errors.FirstName}}" pop="{{errors.FirstName}}" pop-placement="right" ng-model="data.gateway_data.FirstName" placeholder="">
				</div>
			</div>
			<div class="col-md-4">	
				<div class="form-group" show-errors>
					<label>Middle Name</label>
					<input name="MiddleName" type="text" class="form-control" pop-show="{{errors.MiddleName}}" pop="{{errors.MiddleName}}" pop-placement="right" ng-model="data.gateway_data.MiddleName" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Last Name</label>
					<input name="LastName" type="text" class="form-control" pop-show="{{errors.LastName}}" pop="{{errors.LastName}}" pop-placement="right" ng-model="data.gateway_data.LastName" placeholder="">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="form-group" show-errors>
					<label>Billing Address One</label>
					<input name="BillingAddr1" type="text" class="form-control" pop-show="{{errors.BillingAddr1}}" pop="{{errors.BillingAddr1}}" pop-placement="right" ng-model="data.gateway_data.BillingAddr1" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group" show-errors>
					<label>Billing Address Two</label>
					<input name="BillingAddr2" type="text" class="form-control" pop-show="{{errors.BillingAddr2}}" pop="{{errors.BillingAddr2}}" pop-placement="right" ng-model="data.gateway_data.BillingAddr2" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Billing City</label>
					<input name="BillingCity" type="text" class="form-control" pop-show="{{errors.BillingCity}}" pop="{{errors.BillingCity}}" pop-placement="right" ng-model="data.gateway_data.BillingCity" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Billing State</label>
					<input name="BillingState" type="text" class="form-control" pop-show="{{errors.BillingState}}" pop="{{errors.BillingState}}" pop-placement="right" ng-model="data.gateway_data.BillingState" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Billing Postal</label>
					<input name="BillingPostal" type="text" class="form-control" pop-show="{{errors.BillingPostal}}" pop="{{errors.BillingPostal}}" pop-placement="right" ng-model="data.gateway_data.BillingPostal" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="form-group" show-errors>
					<label>Billing Country</label>
					<input name="BillingCountry" type="text" class="form-control" pop-show="{{errors.BillingCountry}}" pop="{{errors.BillingCountry}}" pop-placement="right" ng-model="data.gateway_data.BillingCountry" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Phone</label>
					<input name="Phone" type="text" class="form-control" pop-show="{{errors.Phone}}" pop="{{errors.Phone}}" pop-placement="right" ng-model="data.gateway_data.Phone" placeholder="">
				</div>
			</div>
		</div>

		<h5 style="margin-top: 40px;" ng-if="!cardpresent">Payment Information</h5>
		<div class="row bt" ng-if="!cardpresent">
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Auth Code</label>
					<input name="AuthCode" type="text" class="form-control" pop-show="{{errors.AuthCode}}" pop="{{errors.AuthCode}}" pop-placement="right" ng-model="data.gateway_data.AuthCode" placeholder="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Avs Status</label>
					<input name="AvsStatus" type="text" class="form-control" pop-show="{{errors.AvsStatus}}" pop="{{errors.AvsStatus}}" pop-placement="right" ng-model="data.gateway_data.AvsStatus" placeholder="">
				</div>
			</div>
		</div>
		<div class="row" ng-if="!cardpresent">
			<div class="col-md-3">
				<div class="form-group" show-errors>
					<label>Cc Type</label>
					<input name="CcType" type="text" class="form-control" pop-show="{{errors.CcType}}" pop="{{errors.CcType}}" pop-placement="right" ng-model="data.gateway_data.CcType" placeholder="">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group" show-errors>
					<label>Cc Expire</label>
					<input name="CcExpire" type="text" class="form-control" pop-show="{{errors.CcExpire}}" pop="{{errors.CcExpire}}" pop-placement="right" ng-model="data.gateway_data.CcExpire" placeholder="">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group" show-errors>
					<label>Cvv Status</label>
					<input name="CvvStatus" type="text" class="form-control" pop-show="{{errors.CvvStatus}}" pop="{{errors.CvvStatus}}" pop-placement="right" ng-model="data.gateway_data.CvvStatus" placeholder="">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group" show-errors>
					<label>Currency</label>
					<input name="Currency" type="text" class="form-control" pop-show="{{errors.Currency}}" pop="{{errors.Currency}}" pop-placement="right" ng-model="data.gateway_data.Currency" placeholder="">
				</div>
			</div>
		</div>


		<h5 style="margin-top: 40px;">Order Information</h5>
		<div class="row bt">
			<div class="col-md-3">
				<div class="form-group" show-errors>
					<label>Order Date</label>
					<input class="form-control" name="OrderDate" type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="data.crm_data.OrderDate" is-open="opened1" ng-click="opened1=true" isdate >
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group" show-errors>
					<label>Is Fraud?</label>
					<input name="IsFraud" type="text" class="form-control" pop-show="{{errors.IsFraud}}" pop="{{errors.IsFraud}}" pop-placement="right" ng-model="data.crm_data.IsFraud" placeholder="">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group" show-errors>
					<label>Is Recurring?</label>
					<input name="IsRecurring" type="text" class="form-control" pop-show="{{errors.IsRecurring}}" pop="{{errors.IsRecurring}}" pop-placement="right" ng-model="data.crm_data.IsRecurring" placeholder="">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group" show-errors>
					<label>Price Point</label>
					<input name="PricePoint" type="text" class="form-control" pop-show="{{errors.PricePoint}}" pop="{{errors.PricePoint}}" pop-placement="right" ng-model="data.crm_data.PricePoint" placeholder="">
				</div>
			</div>
		</div>
		
		<div class="row" ng-if="!cardpresent">
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>CRM Product Name</label>
					<input name="ProductCrmName" type="text" class="form-control" pop-show="{{errors.ProductCrmName}}" pop="{{errors.ProductCrmName}}" pop-placement="right" ng-model="data.crm_data.ProductCrmName" placeholder="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Product Name</label>
					<input name="ProductName" type="text" class="form-control" pop-show="{{errors.ProductName}}" pop="{{errors.ProductName}}" pop-placement="right" ng-model="data.crm_data.ProductName" placeholder="">
				</div>
			</div>
		</div>
		<div class="row" ng-if="cardpresent">
			<div class="col-md-12">
				<div class="form-group" show-errors>
					<label>Product Name</label>
					<input name="ProductName" type="text" class="form-control" pop-show="{{errors.ProductName}}" pop="{{errors.ProductName}}" pop-placement="right" ng-model="data.crm_data.ProductName" placeholder="">
				</div>
			</div>
		</div>


		<h5 style="margin-top: 40px;">Delivery Information</h5>
		<div class="row bt">
			<div class="col-md-12">
				<div class="form-group" show-errors>
					<label>Delivery Address One</label>
					<input name="DeliveryAddr1" type="text" class="form-control" pop-show="{{errors.DeliveryAddr1}}" pop="{{errors.DeliveryAddr1}}" pop-placement="right" ng-model="data.crm_data.DeliveryAddr1" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group" show-errors>
					<label>Delivery Address Two</label>
					<input name="DeliveryAddr2" type="text" class="form-control" pop-show="{{errors.DeliveryAddr2}}" pop="{{errors.DeliveryAddr2}}" pop-placement="right" ng-model="data.crm_data.DeliveryAddr2" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Delivery City</label>
					<input name="DeliveryCity" type="text" class="form-control" pop-show="{{errors.DeliveryCity}}" pop="{{errors.DeliveryCity}}" pop-placement="right" ng-model="data.crm_data.DeliveryCity" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Delivery State</label>
					<input name="DeliveryState" type="text" class="form-control" pop-show="{{errors.DeliveryState}}" pop="{{errors.DeliveryState}}" pop-placement="right" ng-model="data.crm_data.DeliveryState" placeholder="">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Delivery Postal</label>
					<input name="DeliveryPostal" type="text" class="form-control" pop-show="{{errors.DeliveryPostal}}" pop="{{errors.DeliveryPostal}}" pop-placement="right" ng-model="data.crm_data.DeliveryPostal" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group" show-errors>
					<label>Delivery Country</label>
					<input name="DeliveryCountry" type="text" class="form-control" pop-show="{{errors.DeliveryCountry}}" pop="{{errors.DeliveryCountry}}" pop-placement="right" ng-model="data.crm_data.DeliveryCountry" placeholder="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Email</label>
					<input name="Email" type="text" class="form-control" pop-show="{{errors.Email}}" pop="{{errors.Email}}" pop-placement="right" ng-model="data.crm_data.Email" placeholder="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>IP Address</label>
					<input name="IpAddress" type="text" class="form-control" pop-show="{{errors.IpAddress}}" pop="{{errors.IpAddress}}" pop-placement="right" ng-model="data.crm_data.IpAddress" placeholder="">
				</div>
			</div>
		</div>

		<h5 style="margin-top: 40px;">Order Status Information</h5>
		<div class="row bt">
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Date Cancelled in System</label>
					<input class="form-control" name="CancelDateSystem" type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="data.crm_data.CancelDateSystem" is-open="opened2" ng-click="opened2=true" isdate>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Full Refund Date</label>
					<input class="form-control" name="RefundDateFull" type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="data.crm_data.RefundDateFull" is-open="opened3" ng-click="opened3=true" >
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group" show-errors>
					<label>Partial Refund Date</label>
					<input class="form-control" name="RefundDatePartial" type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="data.crm_data.RefundDatePartial" is-open="opened4" ng-click="opened4=true" >
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>Refund Amount</label>
					<input name="RefundAmount" type="text" class="form-control" pop-show="{{errors.RefundAmount}}" pop="{{errors.RefundAmount}}" pop-placement="right" ng-model="data.crm_data.RefundAmount" placeholder="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group" show-errors>
					<label>RMA</label>
					<input name="Rma" type="text" class="form-control" pop-show="{{errors.Rma}}" pop="{{errors.Rma}}" pop-placement="right" ng-model="data.crm_data.Rma" placeholder="">
				</div>
			</div>
		</div>


		<h5 style="margin-top: 40px;" ng-if="cardpresent">Shipping Information</h5>
		<div class="row bt" ng-if="cardpresent">
			<div class="col-md-3">
				<div class="form-group" show-errors>
					<label>Shipping Date</label>
					<input class="form-control" name="ShippingDate" type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="data.shipping_data.ShippingDate" is-open="opened1" ng-click="opened1=true" isdate >
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group" show-errors>
					<label>Delivery Date</label>
					<input class="form-control" name="DeliveryDate" type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="data.shipping_data.DeliveryDate" is-open="opened" ng-click="opened=true" isdate >
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group" show-errors>
					<label>Has Tracking?</label>
					<input name="has_tracking" type="text" class="form-control" pop-show="{{errors.has_tracking}}" pop="{{errors.has_tracking}}" pop-placement="right" ng-model="data.shipping_data.has_tracking" placeholder="">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group" show-errors>
					<label>Tracking Number</label>
					<input name="TrackingNum" type="text" class="form-control" pop-show="{{errors.TrackingNum}}" pop="{{errors.TrackingNum}}" pop-placement="right" ng-model="data.shipping_data.TrackingNum" placeholder="">
				</div>
			</div>
		</div>
		<div class="row" ng-if="cardpresent">
			<div class="col-md-12">
				<div class="form-group" show-errors>
					<label>Tracking Summary</label>
					<input name="TrackingSum" type="text" class="form-control" pop-show="{{errors.TrackingSum}}" pop="{{errors.TrackingSum}}" pop-placement="right" ng-model="data.shipping_data.TrackingSum" placeholder="">
				</div>
			</div>
		</div>
		

		<div class="form-group btns">
			<a ui-sref="chargeback.documents" class="btn btn-success pull-right">Continue to Documents</a>
		</div>

	</div>

</div>