
<div class="row search" style="margin-bottom: 20px;">
	<div class="col-md-3">
		<h2>My Chargebacks</h2>
	</div>
	
	<div class="col-md-4 dateRange" style="text-align: center; margin-top: 20px;">
		<a href="#" datepicker-popup="MM/dd/yyyy" ng-model="date.start.val" is-open="date.start.opened" ng-click="date.start.opened=true" isdate >{{date.start.val | date:'MM/dd/yyyy'}}</a> thru
		<a href="#" datepicker-popup="MM/dd/yyyy" ng-model="date.end.val" is-open="date.end.opened" ng-click="date.end.opened=true" isdate >{{date.end.val | date:'MM/dd/yyyy'}}</a>
	</div>

	<div class="col-md-4" style="padding-top: 20px;">
		<input ng-model="q" type="text" class="form-control pull-right" name="query" autocomplete="off" placeholder="Search" ng-keyup="cbs.search(q)">
	</div>

	<div class="col-md-1" style="padding-top: 20px; font-size: 32px;">
		<a href="#" ng-click="download()" tooltip="Download Chargebacks"><span class="glyphicon glyphicon-download"></span></a>
	</div>
</div>

<div class="row" style="margin-bottom: 20px;" ng-if="filters">
	<div class="col-sm-12" style="text-align: center;">Additional Filters: {{filters}} (<a href="/chargebacks">Clear</a>)</div>
</div>


<div class="animated-grid chargebacks" infinite-scroll="cbs.nextPage(q)" infinite-scroll-disabled="cbs.busy">
	<div class="row head">
		<div class="col-sm-2">Date</div>
		<div class="col-sm-1">Amt</div>
		<div class="col-sm-2">Customer</div>
		<div class="col-sm-2">MID</div>
		<div class="col-sm-3">Reason (Code)</div>
		<div class="col-sm-2">Case #</div>
	</div>

	<div class="row" ng-repeat="cb in cbs.data">
		<!-- <div class="col-sm-2"><a href="/chargeback/{{cb.derived_data.uuid}}">{{cb.portal_data.CaseNumber}}</a></div> -->
		<!-- <div class="col-sm-4" style="color: {{cb.derived_data.status.color}}">{{cb.derived_data.status.name}}</div> -->
		<div class="col-sm-2">{{cb.chargebackDate | date:'MMMM d, yyyy'}}</div>
		<div class="col-sm-1">{{cb.portal_data.ChargebackAmt | currency}}</div>
		<div class="col-sm-2">{{cb.gateway_data.FirstName}} {{cb.gateway_data.LastName}}</div>
		<div class="col-sm-2">{{cb.portal_data.MidNumber}}</div>
		<div class="col-sm-3">
			{{cb.portal_data.ReasonText}} <span style="color:#999;">({{cb.portal_data.ReasonCode}})</span>
			<!--
			<a class="btn btn-sm btn-success" href="/chargeback/{{cb.derived_data.uuid}}">Get Started <span class="glyphicon glyphicon-chevron-right"></span></a>
			-->
		</div>
		<div class="col-sm-2">
			<a ng-if="cb.derived_data.status == 'New'" class="btn btn-sm btn-success" href="/chargeback/{{cb._id}}/card">Work This Chargeback <span class="glyphicon glyphicon-chevron-right"></span></a>
			<a ng-if="cb.derived_data.status != 'New'" href="/chargeback/{{cb._id}}">{{cb.portal_data.CaseNumber}}</a>
		</div>

	</div>
	
	<div class="row" ng-if="cbs.loaded && cbs.data.length == 0">
		<div class="col-sm-12"><h3>No chargebacks found {{date.start.val | date:'MM/dd/yyyy'}} thru {{date.end.val | date:'MM/dd/yyyy'}}</h3></div>
	</div>	
	<div class="row" ng-if="!cbs.loaded">
		<div class="col-sm-12"><h3 style="color: #999;">Loading Chargebacks...</h3></div>
	</div>	
</div>
