

<div class="row">
	<div class="col-md-12">
		<h2 style="margin-top: 0px;">Chargeback Details</h2>

		<div class="page-header text-center" style="border-bottom: none;">
			<!-- the links to our nested states using relative paths -->
			<!-- add the active class if the state matches our ui-sref -->
			<div id="status-buttons" class="text-center">
				<a ui-sref-active="active" ui-sref=".upload"><span>1</span> Upload</a>
				<a ui-sref-active="active" ui-sref=".portal"><span>2</span> Portal</a>
				<a ui-sref-active="active" ui-sref=".gateway"><span>3</span> Gateway</a>
				<a ui-sref-active="active" ui-sref=".crm"><span>4</span> CRM</a>
				<a ui-sref-active="active" ui-sref=".shipping"><span>5</span> Shipping</a>
				<a ui-sref-active="active" ui-sref=".review"><span>6</span> Review</a>
			</div>
		</div>

	</div>
</div>

<form name="cbForm" role="form" ng-submit="save(data)" novalidate >
	<div id="form-views" ui-view></div>
</form>