<div class="row cbFormRow">
	<div class="col-sm-8">
		<h2 style="margin-top: 0px;">
			Chargeback {{data.portal_data.CaseNumber}}
		</h2>
	</div>
	<div class="col-sm-4">
		<div id="status-buttons" class="row">
			<div class="col-xs-3"><a ui-sref-active="active" ui-sref=".card"><span>1</span> Type</a></div>
			<div class="col-xs-3"><a ui-sref-active="active" ui-sref=".questions"><span>2</span> Questions</a></div>
			<div class="col-xs-3"><a ui-sref-active="active" ui-sref=".data"><span>3</span> Data</a></div>
			<div class="col-xs-3"><a ui-sref-active="active" ui-sref=".review"><span>4</span> Review</a></div>
		</div>
		
	</div>
</div>

<form name="cbForm" role="form" novalidate >
	<div id="form-views" ui-view></div>
</form>