
<div class="row">
	
	<div class="col-sm-4 col-sm-push-8 form-sidebar">

		<div class="side-cbinfo">
			<div class="side-cbinfo-head">IMPORTED DATA</div>

			<div class="side-cbinfo-desc">This is the data that we have received regarding this chargeback case. You can use this information to look up any missing data and fill it in.</div>
			
			<div class="row" ng-if="data.portal_data.MidNumber">
				<div class="col-xs-4" style="text-align: right;">MID:</div>
				<div class="col-xs-8">{{data.portal_data.MidNumber}}</div>
			</div>

			<div class="row" ng-if="data.gateway_data.FullName">
				<div class="col-xs-4" style="text-align: right;">Customer:</div>
				<div class="col-xs-8">{{data.gateway_data.FullName}}</div>
			</div>

			<div class="row" ng-if="data.portal_data.MidNumber">
				<div class="col-xs-4" style="text-align: right;">Amount:</div>
				<div class="col-xs-8">{{data.portal_data.ChargebackAmt | currency}}</div>
			</div>

			<div class="row" ng-if="data.portal_data.CcPrefix || data.portal_data.CcSuffix">
				<div class="col-xs-4" style="text-align: right;">Credit Card:</div>
				<div class="col-xs-8">
					<span ng-if="data.portal_data.CcPrefix">{{data.portal_data.CcPrefix}}</span><span ng-if="!data.portal_data.CcPrefix">XXXX</span>-XXXX-XXXX-<span ng-if="data.portal_data.CcSuffix">{{data.portal_data.CcSuffix}}</span><span ng-if="!data.portal_data.CcSuffix">XXXX</span>
					<span ng-if="data.gateway_data.CcType">({{data.gateway_data.CcType}})</span>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4" style="text-align: right;">Shipped:</div>
				<div class="col-xs-8">{{data.shipped}}</div>
			</div>
			<div class="row">
				<div class="col-xs-4" style="text-align: right;">Refunded:</div>
				<div class="col-xs-8">{{data.refunded}}</div>
			</div>
			<div class="row">
				<div class="col-xs-4" style="text-align: right;">Recurring:</div>
				<div class="col-xs-8">{{data.recurring}}</div>
			</div>


			<div class="row" ng-if="data.portal_data.ReasonCode || data.portal_data.ReasonText">
				<div class="col-xs-4" style="text-align: right;">Reason:</div>
				<div class="col-xs-8">
					{{data.portal_data.ReasonText}} {{data.portal_data.ReasonCode}}
				</div>
			</div>

		</div>

	</div>

	<div class="col-sm-8 col-sm-pull-4">
	
		<h3 style="text-align: center; margin-top: 40px;">Choose the Chargeback Type</h3>

		<div class="row card-present">
			<div class="col-md-6 present" ng-click="setCard('cp')">
				<span class="glyphicon glyphicon-credit-card"></span><br/>
				Card Present
			</div>
			<div class="col-md-6 notpresent" ng-click="setCard('cnp')">
				<span class="glyphicon glyphicon-credit-card"></span>
				<span class="glyphicon glyphicon-ban-circle"></span><br/>
				Card Not Present
			</div>
		</div>
	</div>



		

</div>