
<div class="row">
	
	<div class="col-sm-4 col-sm-push-8 form-sidebar">
		<div class="side-main-head">CARD PRESENT HELP</div>
		<div>
			<p>Chargebacks vary drastically depending on whether or not the credit card was present.</p>
			<p>For card present transactions, merchants should obtain a magnetic stripe reading of the card or an imprint of the card, and ensure that the cardholder signs the receipt.</p>
			<p>For card not present transactions, it is suggested to use the fraud services offered by the card. This includes the Address Verification Service (AVS), the Card Verification Value 2 (CVV2), the Card Validation Code 2 (CVC2) and the Card Identification (CID).</p>
		</div>
	</div>
	<div class="col-sm-8 col-sm-pull-4">

		<h3 style="color: #999; text-align: center; margin-top: 60px;">Choose a Chargeback Type</h3>

		<div class="row card-present">
			<div class="col-md-6 present" ng-click="setCard('present')">
				<span class="glyphicon glyphicon-credit-card"></span><br/>
				Card Present
			</div>
			<div class="col-md-6 notpresent" ng-click="setCard('not')">
				<span class="glyphicon glyphicon-credit-card"></span>
				<span class="glyphicon glyphicon-ban-circle"></span><br/>
				Card Not Present
			</div>
		</div>
	</div>

</div>