
<div class="row">
	
	<div class="col-sm-4 col-sm-push-8 form-sidebar">
		
		<div class="side-cbinfo" style="margin-top: 60px;">
			<div class="side-cbinfo-head">IMPORTED DATA</div>
			
			<div class="side-cbinfo-desc">This is the data that we have received regarding this chargeback case. You can use this information to look up any missing data and fill it in.</div>
			
			<div class="row" ng-if="data.portal_data.MidNumber">
				<div class="col-xs-4" style="text-align: right;">Type:</div>
				<div class="col-xs-8">
					<span ng-if="data.type == 'cp'">Card Present</span>
					<span ng-if="data.type == 'cnp'">Card Not Present</span>		
				</div>
			</div>
			
			<div class="row" ng-if="data.portal_data.MidNumber">
				<div class="col-xs-4" style="text-align: right;">MID:</div>
				<div class="col-xs-8">{{data.portal_data.MidNumber}}</div>
			</div>

			<div class="row" ng-if="data.gateway_data.FullName">
				<div class="col-xs-4" style="text-align: right;">Customer:</div>
				<div class="col-xs-8">{{data.gateway_data.FullName}}</div>
			</div>

			<div class="row" ng-if="data.portal_data.MidNumber">
				<div class="col-xs-4" style="text-align: right;">Amount:</div>
				<div class="col-xs-8">{{data.portal_data.ChargebackAmt | currency}}</div>
			</div>

			<div class="row" ng-if="data.portal_data.CcPrefix || data.portal_data.CcSuffix">
				<div class="col-xs-4" style="text-align: right;">Credit Card:</div>
				<div class="col-xs-8">
					<span ng-if="data.portal_data.CcPrefix">{{data.portal_data.CcPrefix}}</span><span ng-if="!data.portal_data.CcPrefix">XXXX</span>-XXXX-XXXX-<span ng-if="data.portal_data.CcSuffix">{{data.portal_data.CcSuffix}}</span><span ng-if="!data.portal_data.CcSuffix">XXXX</span>
					<span ng-if="data.gateway_data.CcType">({{data.gateway_data.CcType}})</span>
				</div>
			</div>

			<div class="row" ng-if="data.portal_data.ReasonCode || data.portal_data.ReasonText">
				<div class="col-xs-4" style="text-align: right;">Reason:</div>
				<div class="col-xs-8">
					{{data.portal_data.ReasonText}} {{data.portal_data.ReasonCode}}
				</div>
			</div>
				
			
		</div>
	</div>
	<div class="col-sm-8 col-sm-pull-4">

		<div class="row" style="margin: 60px 0px;">
			<div class="col-lg-4" style="text-align: center;">
				<h4 style="margin-bottom: 20px;">Product Shipped?</h4>
				<toggle-switch ng-model="data.shipped" on-label="Yes" off-label="No"></toggle-switch>
				<div class="text-muted" style="margin-top: 10px;">Did you ship a product?</div>
			</div>
			<div class="col-lg-4" style="text-align: center;">
				<h4 style="margin-bottom: 20px;">Refund Issued?</h4>
				<toggle-switch ng-model="data.refunded" on-label="Yes" off-label="No"></toggle-switch>
				<div class="text-muted" style="margin-top: 10px;">Did you issue a refund?</div>
			</div>
			<div class="col-lg-4" style="text-align: center;">
				<h4 style="margin-bottom: 20px;">Recurring Charge?</h4>
				<toggle-switch ng-model="data.recurring" on-label="Yes" off-label="No"></toggle-switch>
				<div class="text-muted" style="margin-top: 10px;">Was this a recurring charge?</div>
			</div>
		</div>

		<div class="form-group btns" style="text-align: center;">
			<a ui-sref="chargeback.data" class="btn btn-success">Continue</a>
		</div>

	</div>

</div>