<div style="display: block; overflow: hidden; margin-bottom: 25px;">
	<div class="pull-right merchantSelect">
    	Merchant: <select ng-model="selectedMerchant" ng-change="setMerchant(selectedMerchant)" ng-options="merchant.name for merchant in merchants"></select>
    </div>
</div>

<div class="row reporting-status">
	<div class="col-sm-4" style="background-color: #5cb85c;">
		<div>{{data.sum | currency:"$":0}}</div>
		Total Chargeback Amount
		<!-- Successfully<br/>Recovered	-->
	</div>

	<div class="col-sm-4" style="background-color: #0d94c1;">
		<div>Coming Soon</div>
		Win Rate
	</div>
		
	<div class="col-sm-4" style="background-color: #ffcc00; color: #333;">
		<div>Coming Soon</div>
		Average Days<br/>To Recover
	</div>
</div>

<h3 style="margin-top: 40px;">{{selectedMerchant.name}} Chargeback Volume History</h3>
<div class="row">
	<div class="col-md-12" >
		<div graph-bar control="graphBarHistory"></div>
	</div>
</div>

