
<div class="row ">
	<div class="col-md-6">
		<h2 style="margin-top: 0px;">Chargebacks by Status</h2>
	</div>
	<div class="col-md-6" style="font-size: 24px; text-align: right;">
		<a href="#" datepicker-popup="MM/dd/yyyy" ng-model="date.start.val" is-open="date.start.opened" ng-click="date.start.opened=true" isdate >{{date.start.val | date:'longDate'}}</a> thru
		<a href="#" datepicker-popup="MM/dd/yyyy" ng-model="date.end.val" is-open="date.end.opened" ng-click="date.end.opened=true" isdate >{{date.end.val | date:'longDate'}}</a>
	</div>
</div>



<div class="row">
	<div class="col-md-6" style="text-align: center;">
		<div class="pie" pie control="graphStatus1" ></div>
		<!--
		<div class="btn-group">
			<label class="btn btn-success" ng-model="graphToggle" btn-radio="graph1.update('/api/v1/report/byCount')">By Count</label>
			<label class="btn btn-success" ng-model="graphToggle" btn-radio="graph1.update('/api/v1/report/byVolume')">By Volume</label>
		</div>
		-->
	</div>
	<div class="col-md-6">
		<div class="pie" pie control="graphStatus2" ></div>
	</div>
</div>

<div class=row ng-repeat="letters in alphabet | groupBy:4">
  <div class="col-xs-3 letter-box" ng-repeat="letter in letters" >
    <div>Letter {{$index+1}} is: <b> {{letter}}</b></div>
  </div>
</div>

<div id="tooltip" style="opacity: 0;">
    <div class="content"></div>
</div>