
<div class="row search" style="margin-bottom: 20px;">
	<div class="col-md-12">
		<h2>Reporting</h2>
	</div>
</div>


<div class="row reporting-status">
		
	<div class="col-sm-4">
		<div class="img-circle" style="background-color: green;">
			<div>10</div>
			New
		</div>
	</div>

	<div class="col-sm-4">
		<div class="img-circle">
			<div>10</div>
			Pending	
		</div>
	</div>
		
	<div class="col-sm-4">
		<div class="img-circle" style="background-color: #333; color: white;">
			<div>3</div>
			Completed
		</div>
	</div>

</div>