<tabset>
	<tab ui-sref=".overview" ui-sref-active="active" >
		<tab-heading>Status Overview</tab-heading>
    </tab>
    <tab ui-sref=".byProcessor" ui-sref-active="active">
		<tab-heading>By Processor</tab-heading>
    </tab>
    <tab ui-sref=".byMid" ui-sref-active="active">
		<tab-heading>By MID</tab-heading>
    </tab>
    <div class="pull-right merchantSelect">
    	<select class="form-control pull-right" ng-model="selectedMerchant" ng-change="setMerchant(selectedMerchant)" ng-options="merchant.name for merchant in merchants"></select>
    </div>
</tabset>

<div style="margin-top: 20px;" ui-view="statusViews"></div>