<div style="display: block; overflow: hidden; margin-bottom: 25px;">
	<div class="pull-right merchantSelect" style="width: auto; height: 33px;">
		Merchant: <select ng-model="selectedMerchant" ng-options="merchant.name for merchant in merchants"></select>
	</div>
</div>

<div class="row reporting-status">
	<div class="col-sm-4" style="background-color: #5cb85c;">
		<div>{{data.amount.Complete | currency}}</div>
		Successfully<br/>Recovered	
	</div>

	<div class="col-sm-4" style="background-color: #0d94c1;">
		<div>80%</div>
		Win Rate
	</div>
		
	<div class="col-sm-4" style="background-color: #ffcc00; color: #333;">
		<div>22 Days</div>
		Average Days<br/>To Recover
	</div>
</div>

<h3 style="margin-top: 40px;">Chargeback Volume History</h3>
<div class="row">
	<div class="col-md-12">
		<div graph-bar graph-endpoint="history" graph-width="1140" graph-height="500"></div>
	</div>
</div>

