
<div class="row ">
	<div class="col-md-6">
		<h2 style="margin-top: 0px;">Chargebacks by Status</h2>
	</div>
	<div class="col-md-6" style="font-size: 24px; text-align: right;">
		<a href="#" datepicker-popup="MM/dd/yyyy" ng-model="date.start.val" is-open="date.start.opened" ng-click="date.start.opened=true" isdate >{{date.start.val | date:'longDate'}}</a> thru
		<a href="#" datepicker-popup="MM/dd/yyyy" ng-model="date.end.val" is-open="date.end.opened" ng-click="date.end.opened=true" isdate >{{date.end.val | date:'longDate'}}</a>
	</div>
</div>




<div class="row">
	<div class="col-md-6">
		<div class="pie" pie graph-endpoint="report/byVolume" ></div>
	</div>
	<div class="col-md-6">
		<div class="pie" pie graph-endpoint="report/byCount" ></div>
	</div>
</div>

<div id="tooltip" style="opacity: 0;">
    <div class="content"></div>
</div>