<div style="display: block; overflow: hidden; margin-bottom: 25px;">
	<div class="pull-right merchantSelect">
    	<select  class="form-control pull-right" ng-model="selectedMerchant" ng-change="setMerchant(selectedMerchant)" ng-options="merchant.name for merchant in merchants"></select>
    </div>
    <h3 style="margin-top: 10px;">Reporting</h3>
</div>

<div class="row">
	<div class="col-sm-4">
	
		<div class="dash-stat">
			<div class="stat-head">Total Chargeback Amount</div>
			<div class="stat">{{data.totals.sum | currency:"$":0}}</div>
		</div>

		<div class="dash-stat">
			<div class="stat-head">Days to Recover</div>
			<div class="stat">24 days</div>
		</div>

	</div>

	<div class="col-sm-8">
		<div class="dash-stat dash-green">
			<div class="stat-head">Chargeback Volume</div>
			<div class="stat">
				<div graph-bar control="graphBarHistory"></div>
			</div>	
		</div>
	</div>
</div>

