@import "../bower_components/bootstrap/less/bootstrap.less";
@import "core.less";
@import "loading.less";
@import "jgsform.less";
//@import "datepicker.less";
//@import "dropzone.less";
@import "popovers.less";

@icon-font-path:          "../fonts/";
@icon-font-name:          "glyphicons-halflings-regular";
@icon-font-svg-id:        "glyphicons_halflingsregular";
@import "bootstrap-glyphicons.less";



@navbar-height:             65px;
@navbar-inverse-color:      @gray-light;
@navbar-inverse-bg:         @cbBlue;
@navbar-inverse-border:     		darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-color:         white;
@navbar-inverse-link-hover-color:   #fff;


#pages {
	margin-bottom: 250px;
}

footer {
	margin-top: 40px;
}

.navbar-inverse {
	.navbar-text {
		color: @cbRed;
		font-weight: bold;
	}
}
.navbar-brand {
	
    overflow: visible;
    padding-top: 5px;
    padding-bottom: 5px;
	img {
		height: 100%;
	}
}

.dropdown-menu {
	li {
		div {
			table {
				&:focus {
					outline: 0 none;
				}
			}
		}
	}
	button {
		outline: none;
		border: 0px;
	}
	tbody {
		height: 180px;
	}
	tbody button {
		padding: 6px;
	}
	&.datepicker-mode-1, &.datepicker-mode-2 {
		tbody button {
			height: 65px;
		}
	}
}


.animated-grid {
	
	.row {
		&.ng-move,
		&.ng-enter,
		&.ng-leave {
			-webkit-transition:all linear 0.25s;
			transition:all linear 0.25s;
		}

		&.ng-leave.ng-leave-active,
		&.ng-move,
		&.ng-enter {
			opacity:0;
			max-height:0;
		}

		&.ng-leave,
		&.ng-move.ng-move-active,
		&.ng-enter.ng-enter-active {
			opacity:1;
			max-height:40px;
		}

		border-bottom: solid 1px #efefef;
		padding-top: 10px;
		padding-bottom: 10px;
		
		&.head {
			font-weight: bold;
		}

	}
	
}


/* numbered buttons in chargeback form */
#status-buttons {
	a {
		display:inline-block;
		font-size:12px;
		margin-right:20px;
		text-align:center; 
		text-transform:uppercase;
	}
	a:hover {
		text-decoration:none;
	}

	/* we will style the span as the circled number */
	span {
		background:#080808;
		display:block;
		height:30px;
		margin:0 auto 20px;
		padding-top:5px;
		width:30px; 
    	border-radius:50%;
    	color: white;
    }

	/* active buttons turn light green-blue*/
	a.active span { background: @cbBlue; }
}


.reporting-status {
	margin-top: 40px;
	.clearfix();
	.col-sm-4 {
		margin-bottom: 20px;
		div.img-circle { 
			text-align: center;
			padding-top: 40px;
			font-size: 16px;
			font-weight: bold;
			width: 140px;
			height: 140px;
			margin: 0px auto;
			background-color: @cbBlue;
			line-height: 40px;
			div {
				text-align: center;
				width: auto;
				font-size: 60px;
			}
		}
	}
}



/* style.css */
/* ANIMATION STYLINGS
============================================================================= */
#cbForm {
	position:relative;
	min-height:300px;
	overflow:hidden;
}
#form-views {
	width: auto;
	
	&.ng-move,
	&.ng-enter,
	&.ng-leave {
		-webkit-transition:all linear 0.25s;
		transition:all linear 0.25s;
	}

	&.ng-leave.ng-leave-active,
	&.ng-move,
	&.ng-enter {
		opacity:0;
	}

	&.ng-leave,
	&.ng-move.ng-move-active,
	&.ng-enter.ng-enter-active {
		opacity:1;
	}
}



/* small devices (tablets, 420px and up) */
@media (min-width: @screen-xs-min) {

	
	

}


@media (min-width: @screen-md-min) {

	
}

@media (min-width: @screen-lg-min) {


}
