@import "../bower_components/bootstrap/less/bootstrap.less";
@import "core.less";
@import "loading.less";		// loading widget
@import "jgsform.less";		// general form styling
@import "popovers.less";	// for form popover error handling
@import "graphs.less";		// for d3 formatting

@icon-font-path:          "../fonts/";
@icon-font-name:          "glyphicons-halflings-regular";
@icon-font-svg-id:        "glyphicons_halflingsregular";
@import "bootstrap-glyphicons.less";


@navbar-height:             		65px;
@navbar-inverse-color:      		@gray-light;
@navbar-inverse-bg:         		@cbBlue;
@navbar-inverse-border:     		darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-color:         white;
@navbar-inverse-link-hover-color:   #fff;
@grid-float-breakpoint: 			@screen-md-min;

#pages {
	margin-bottom: 250px;
	margin-top: 110px;
}

footer {
	margin-top: 40px;
	height: auto;
}

.navbar-inverse {
	.navbar-text {
		color: @cbRed;
		font-weight: bold;
	}
}
.navbar-brand {
	
    overflow: visible;
    padding-top: 5px;
    padding-bottom: 5px;
	img {
		height: 100%;
	}
}

.nav-tabs {
	li {
		cursor: pointer;
	}
}

.dropdown-menu {
	-webkit-transition:all linear 0.25s;
	transition:all linear 0.25s;
	li {
		div {
			table {
				&:focus {
					outline: 0 none;
				}
			}
		}
	}
	button {
		outline: none;
		border: 0px;
	}
	tbody {
		height: 180px;
	}
	tbody button {
		padding: 6px;
	}
	&.datepicker-mode-1, &.datepicker-mode-2 {
		tbody button {
			height: 65px;
		}
	}
}

// drag and drop zones in chargeback input pages.
.ddzone {
	background-color: @cbBlue;
	color: white;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
	border: solid 4px @cbBlue;
	cursor: pointer;
	&:hover, &.ddhover {
		background-color: darken(@cbBlue, 12%);
	}
	&.ddhover {
		border: solid 4px green;
	}
	.glyphicon {
		font-size: 60px;
	}
	.subtext {
		font-size: 12px;
		color: #ccc;
	}
}

// class for formatting uploaded images in chargeback input forms
.uploaded {
	.img {
		text-align: center;
		margin-bottom: 10px;
		margin-top	: 20px;
		padding: 10px 0px;
		img {
			max-width: 200px;
			padding-left: 24px;	// counter measure to remove width
			margin: 0px auto;
		}
		canvas {
			width: auto;
			padding-left: 24px;	// counter measure to remove width
			margin: 0px auto;
		}
		&:hover {
			background-color: #efefef;
		}
	
		.remove {
			cursor: pointer;
			width: auto;
			font-size: 24px;
			color: #999;
			margin-right: 10px;
		}
	}
}
.review-uploaded {
	> div {
		float: left; 
		width: auto;
	}
	img {
		border-radius: 5px;
		max-width: 150px;
		margin-right: 20px;
	}
	.missing-upload {
		border-radius: 5px;
		background-color: #efefef;
		height: 150px;
		width: 150px;
		text-align: center;
		margin: 0px auto;
		padding: 10px;
		padding-top: 15px;
		font-size: 20px;
		span {
			color: @cbRed;
		}
	}
}


.dateRange {
	font-size: 18px;
	text-align: right;
}


// the chargeback list page, animations for paging, etc.
.animated-grid {
	.row {
		&.ng-move,
		&.ng-enter,
		&.ng-leave {
			-webkit-transition:all linear 0.25s;
			transition:all linear 0.25s;
		}

		&.ng-leave.ng-leave-active,
		&.ng-move,
		&.ng-enter {
			opacity:0;
			max-height:0;
		}

		&.ng-leave,
		&.ng-move.ng-move-active,
		&.ng-enter.ng-enter-active {
			opacity:1;
			max-height:40px;
		}
	}
	&.chargebacks {
		.row {
			border-bottom: solid 1px #efefef;
			padding-top: 10px;
			padding-bottom: 10px;
			&.head {
				font-weight: bold;
			}
		}
		.row:last-child {
			border-bottom: none;
		}
	}
	&.uploads {
		.row {
			&.ng-move,
			&.ng-enter,
			&.ng-leave {
				-webkit-transition:all linear 1.5s;
				transition:all linear 1.5s;
			}
		}
	}
}


/* numbered buttons in chargeback form */
#status-buttons {
	a {
		display:inline-block;
		font-size:12px;
		margin-right:10px;
		text-align:center; 
		text-transform:uppercase;
		width: 55px;
	}
	a:hover {
		text-decoration:none;
	}

	/* we will style the span as the circled number */
	span {
		background:#080808;
		display:block;
		height:30px;
		margin:0 auto 20px;
		padding-top:5px;
		width:30px; 
    	border-radius:50%;
    	color: white;
    }

	/* active buttons turn light green-blue*/
	a.active span { background: @cbBlue; }
}


// large circles in reporting
.reporting-status {
	.clearfix();
	.col-sm-4, .col-sm-3 {
		margin-bottom: 20px;
		div.img-circle { 
			text-align: center;
			padding-top: 60px;
			font-size: 16px;
			font-weight: bold;
			width: 200px;
			height: 200px;
			margin: 0px auto;
			background-color: @cbBlue;
			div {
				text-align: center;
				width: auto;
				font-size: 30px;
			}
		}
	}
}


// large circles in dash
.dashboard-status {
	.clearfix();
	div.img-circle { 
		text-align: center;
		padding-top: 40px;
		font-size: 16px;
		font-weight: bold;
		width: 180px;
		height: 180px;
		margin: 0px auto;
		background-color: @cbBlue;
		line-height: 40px;
		div {
			text-align: center;
			width: auto;
			font-size: 60px;
		}
	}
}
.dashboard-process {
	
	.num { 
		background:#080808;
		display:inline-block;
		height:30px;
		margin:0 auto 0px;

		font-size:20px;
		text-align:center; 
		margin-right: 10px;
		text-transform:uppercase;
		border-radius:50%;
		width: 30px;
		color: white;
		padding-top: 3px;
	}
}


// final step in the chargeback process, review page
.review {
	.details {
		.row {
			.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
				color: #444;
				&:first-child {
					color: #999;
				}
			}
			margin-bottom: 5px;
		}
	}
	.additional_comments, .gateway, .shipping {
		background-color: #efefef;
		border-radius: 5px;
	}

	.additional_comments {
		padding: 20px;
		margin-top: 40px;
	}
}


/* style.css */
/* ANIMATION STYLINGS
============================================================================= */
#cbForm {
	position:relative;
	min-height:300px;
	overflow:hidden;
}
#form-views {
	width: auto;
	
	&.ng-move,
	&.ng-enter,
	&.ng-leave {
		-webkit-transition:all linear 0.25s;
		transition:all linear 0.25s;
	}

	&.ng-leave.ng-leave-active,
	&.ng-move,
	&.ng-enter {
		opacity:0;
	}

	&.ng-leave,
	&.ng-move.ng-move-active,
	&.ng-enter.ng-enter-active {
		opacity:1;
	}
}



/* Hide for mobile, show later */
.sidebar {
	display: none;
	/* Sidebar navigation */
	.nav-sidebar {
		margin-right: -21px; /* 20px padding + 1px border */
		margin-bottom: 20px;
		margin-left: -20px;
	}
	.nav-sidebar > li > a {
		padding-right: 20px;
		padding-left: 20px;
	}
	.nav-sidebar > .active > a,
	.nav-sidebar > .active > a:hover,
	.nav-sidebar > .active > a:focus {
		color: #fff;
		background-color: @cbBlue;
	}
}
.main {
	
}


/* small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

	.sidebar {
		position: fixed;
		top: 66px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
	

}


@media (min-width: @screen-md-min) {

	.sidebar {
		position: fixed;
		top: 66px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}
	.main {
		padding-right: 40px;
    	padding-left: 40px;
	}

	
}

@media (min-width: @screen-lg-min) {

	.dateRange {
		font-size: 24px;
		text-align: right;
	}

}
